<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vpnmonitor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>__USER_HOME__/vpn-monitor.sh</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/var/run/resolv.conf</string>
        <string>/etc/resolv.conf</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/vpn-monitor.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/vpn-monitor.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>VPN_MONITOR_LOG_LEVEL</key>
        <string>INFO</string>
    </dict>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
